---
eleventyExcludeFromCollections: true
layout: base.njk
permalink: /404.html
title: 404
meta:
  robots:
    value: noindex
---
<div class="content page pt-4">
  <h2>Ooooops</h2>
  <p>Sorry, this page doesn't exist.</p>
</div>
