---
eleventyExcludeFromCollections: true
permalink: /humans.txt
source: https://humanstxt.org/Standard.html
---
/* TEAM */

Name: Claus Conrad
Role: Content creator
Site: https://www.clausconrad.com/

/* THANKS */

Name: René Winkelmeyer
Role: Theme creator
Site: https://blog.winkelmeyer.com/
Theme: https://github.com/muenzpraeger/eleventy-chirpy-blog-template

/* SITE */

Standards: HTML5, CSS3
Components: Tailwind CSS
Software: Eleventy (static site generator), Nunjucks (templating language), Sharp (image optimization), npm (dependencies resolution), Prism (syntax highlighting), Prettier (code formatting), ESlint (code linting), markdownlint (content linting), Rollup (code bundling)
