---
eleventyExcludeFromCollections: true
layout: base.njk
meta:
  robots:
    value: noindex
pagination:
  alias: posts
  data: collections.posts
  generatePageOnEmptyData: true
  reverse: true
  size: 5
title: Posts
permalink: "/{% if pagination.pageNumber > 0 %}page{{ pagination.pageNumber + 1 }}/{% endif %}"
---

<div class="postlist pb-8 mt-8 font-light dark:font-extralight">
    {% for post in posts %}
    <div class="pt-2">
		<div class="pt-1 text-sm text-gray-900 dark:text-gray-400">{% for tag in post.data.tags %}<span class="mr-7">#{{tag}}</span>{% endfor %}</div>
    	<div class="pb-4">
			<a class="text-indigo-900 dark:text-indigo-300 text-xl dark:font-light font-normal postlistheading" href="{{ post.url | url }}">{{ post.data.title }}</a>
		</div>
      	<div class="pb-4 text-gray-900 dark:text-gray-400">{% excerpt post %}</div>
		
      	<div class="pb-2 text-sm text-gray-500 dark:text-gray-400 border-b-1 border-gray-800 dark:border-gray-700 border-opacity-20 flex">
			<div class="flex">📅
        		{{ post.date | readableDate }}
			</div>
			<div class="readingtime flex" data-words="{% if post.templateContent %}{{ post.templateContent | striptags | wordcount | formatWords }}{% else %}0{% endif %} words">
        		<span class="h-5 w-8 mr-2 ml-12">⌛
        		</span>
				{% if post.templateContent %}
        		{{ post.templateContent | striptags | wordcount | readingTime }}
				{% else %}
				{{ 0 | readingTime }}
				{% endif %}
				<span></span>
			</div>
      	</div>
    </div>
    {% endfor %}
</div>
<div class="mt-2 mx-8 lg:ml-32">
	<ul class="pagination flex list-none center pb-8 font-light dark:font-extralight">
	    {% if pagination.pageNumber > 0 %}
	    <li class="mr-3">
			<div class="leading-relaxed">
				{% if not pagination.href.first %}
				<span class="block cursor-not-allowed">&lt;&lt;</a>
				{% else %}
				<a href="{{ pagination.href.first }}" class="block hover:no-underline">&lt;&lt;</a>
				{% endif %}
			</div>
		</li>
	    <li class="mr-3">
			<div class="leading-relaxed">
				{% if not pagination.href.previous %}
				<span class="block cursor-not-allowed">&lt;</a>
				{% else %}
				<a href="{{ pagination.href.previous }}" class="block hover:no-underline">&lt;</a>
				{% endif %}
			</div>
		</li>
		{% endif %}
	    {% for pageEntry in pagination.pages %}
		{% if loop.index0 < 6  and pagination.hrefs[loop.index0 + pagination.pageNumber] %}
	    <li class="mr-3">
			<div class="leading-pagination{% if pagination.hrefs[loop.index0 + pagination.pageNumber] === page.url %} active{% endif %}">
				<a href="{{ pagination.hrefs[loop.index0 + pagination.pageNumber] }}" class="block hover:no-underline">{{ loop.index + pagination.pageNumber }}</a>
			</div>
		</li>
		{% endif %}
		{% endfor %}
		{% if (pagination.pageNumber + 5) < pagination.pages.length %}
	    <li class="mr-3">
			<div class="leading-relaxed">
				<a href="{{ pagination.href.next }}" class="block hover:no-underline">&gt;</a>
			</div>
		</li>
	    <li class="mr-3">
			<div class="leading-relaxed">
				<a href="{{ pagination.href.last }}" class="block hover:no-underline">&gt;&gt;</a>
			</div>
		</li>
		{% endif %}
	</ul>
</div> 