---
layout: compress.liquid
---
<!doctype html>
<html class="no-js" lang="{% if site.language == nil %}en{% else %}{{ site.language }}{% endif %}">
<head>
	{% include "_head.liquid" %}
</head>
<body id="top-of-page" class="{{ layout.format }}">
	{% unless page.skip_boilerplate %}
	{% include "_navigation.liquid" %}
	{% endunless %}

	{% include "_masthead.liquid" %}

	{{ content }}

	{% unless page.skip_boilerplate %}
	{% include "_footer.liquid" %}
	{% endunless %}

	{% include "_footer_scripts.liquid" %}
</body>
</html>
